
.table-container {
  visibility: hidden;
}
.table-container.show-table {
  visibility: visible;
}
.line2 {
  font-size: 0.8em;
  font-weight: normal;
}
.dataTables_wrapper {
  border: 1px solid #dddddd;
	margin-bottom:20px;

}
.htb{
	height:308px;
	}
.dataTables_wrapper td.highlighted {
  background: #d9edf7;
}
.dataTables_wrapper th.highlighted,
.dataTables_wrapper .DTFC_LeftBodyWrapper td.highlighted {
  background: #ccc;
}
.dataTables_wrapper th,
.dataTables_wrapper td {
  border-radius: 0px !important;
}
.dataTables_wrapper table {
  margin-bottom: 0;
  border-radius: 0px !important;
}
.dataTables_wrapper .DTFC_LeftWrapper td,
.dataTables_wrapper .DTFC_LeftWrapper th {
  text-align: right;
}
.dataTables_wrapper .DTFC_LeftBodyWrapper {
  border-right: 1px solid #dddddd;
  /*box-shadow: 4px 0px 6px -2px #aaaaaa;*/
  z-index: 100;
}
.dataTables_wrapper .dataTables_scrollHead {
 /* box-shadow: 0px 4px 6px -2px #aaaaaa;*/
  z-index: 100;
}
.dataTables_wrapper .dataTables_scrollHead thead th,
.dataTables_wrapper .dataTables_scrollBody td {
  text-align: center;
}
.dataTables_wrapper .DTFC_LeftBodyWrapper td,
.dataTables_wrapper .dataTables_scrollHeadInner th {
  cursor: pointer;
 
}
.dataTables_scrollHeadInner{ background:#b72f33;}
.dataTables_wrapper .DTFC_LeftBodyWrapper td:hover,
.dataTables_wrapper .dataTables_scrollHeadInner th:hover {
  background: #ccc;
}
.dataTables_wrapper .dataTables_scrollBody > * {
  -webkit-transform: translateZ(0px);
}
