@charset "utf-8";
/* CSS Document */
* {
	marign: 0;
	padding: 0;
}

html,
body {
	background: url(../images/bg.png) repeat top center;
    height: 100%;
    width: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    /* Negative indent footer by it's height */
    margin: 0 auto -71px;
}

/* start news eprocument */  
 
.container-fluid {
    width: 1050px !important;
    margin: 0px auto;
	}
	.chart_1 {
	margin-left: 0px !important; 
	border: 1px solid #999 !important;
	}
	
.hidenComment{
	display: none;
}	


/* start news eprocument 2*/
.dropdown_db{left:22px; text-align:left !important;}
.btn_add{text-align: right; padding-top: 5px !important;padding-bottom:5px!important; padding-right: 5px !important;}

.bg_note{background:#fff0f0 !important;border:solid 1px #dedede;margin-bottom:10px; min-height: 245px !important;}
.bg_note h3 {font-size:18px !important;margin:0 !important;color:#b72f33;font-weight:400;margin:0 10px !important;}
.bg_note h5{color:#2e5179;margin-left:15px;float:left;}
.bg_note_grey{background:#f5f5f5;margin:3px 0px;}
.bg_note_grey p {margin:10px 40px 0 !important;color:#2e5179;}
.bg_note_white{background:#fff;height:165px;margin-top:5px;}
.bg_note_white333{background:#fff;height:230px;margin-top:5px;}
.color_red{color: #b72f33;}
.hieght_for_comment {min-height: 165px;}
#note_form{text-align: center;margin-bottom:5px;}

.bg_comment_title{background:#fff0f0;margin-left: 0 !important;}
.row_comment{background:#fff; border:1px solid #dedede;}

.bg_avatar{width:16.8%;position:relative;float:left;}
.bg_avatar .img-circle {
    height: 50px;
    overflow: hidden;
    width: 50px;
}
.avatar_form .img-circle {
	width: 50px;
	height:50px;
}
.bg_contend_cm{background:#f5f5f5;width:100%;display:table;}
.bg_comment_name {background:#f9e5e6; height: 25px;}
.bg_comment_name_left {text-align: left; width: 50%; float: left; color: #024171;}
.bg_comment_name_right {text-align: right;width: 50%; float: right; color: #024171;}

.bg_comment_name_left span{padding-left: 182px;}
.bg_comment_name_right span{padding-right: 54px;}

.accordion-inner2 {
    border-top: 1px solid #e5e5e5;
    padding: 1px 0;
}
.avatar_user{position:absolute; top: 10px; left: 96px;}
.content_cm{ background:#f5f5f5; float:left;padding-left:20px;width:77%; margin: 1px 0; border-bottom: 1px dotted #ccc;min-height:70px;}
.content_cm h5{color:#2e5179 !important;}
.column2 {
      float: left; 
      padding: 2px; }
      
.column2 .date_cmm{float:right;}
.form_comment{}
.avatar_form{width:15%;position:relative;float:left;}
.avatar_comment{/* position:absolute; top: 50px; right: -8px; */float: left;
    margin-top: 40px;margin-left:96px;}
    .avatar_comment2{/* position:absolute; top: 50px; right: -8px; */float: right;
    margin-top: 20px;}
.form_right{width:75%; float:right; margin:10px 0;margin-right:50px; }
.form_right textarea{height:60px !important;}
.form_right2{width:75%; float:right; margin:10px 230px 0 0; }
 .clear{clear:both;}
.check_form label{float:left: !important;}
.bt_link{    background: url("../images/bt_link.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 18px;
    line-height: 22px;
    vertical-align: text-top;
    width: 18px;}
.row-fluid .menu_images .view a{
	background: url(../images/bt_view.png) no-repeat center;
	float: right;
	width: 33px;
	height: 33px;
	}
.row-fluid .menu_images .view a:hover{
	background: url(../images/bt_view_hover.png) no-repeat center;
	float: right;
	width: 33px;
	height: 33px;
	}
	
.row-fluid .menu_images .email a{
	background: url(../images/bt_email.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
.row-fluid .menu_images .email a:hover{
	background: url(../images/email_hover.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}	
	
.row-fluid .menu_images .payment_view a{
	background: url(../images/bt_payment_view.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
.row-fluid .menu_images .payment_view a:hover{
	background: url(../images/bt_payment_view_hover.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
	
.row-fluid .menu_images .back a{
	background: url(../images/bt_back.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
.row-fluid .menu_images .back a:hover{
	background: url(../images/bt_back_hover.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
.row-fluid .menu_images .history a{
	background: url(../images/bt_history.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
.row-fluid .menu_images .history a:hover{
	background: url(../images/bt_history_hover.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
	
.row-fluid .menu_images .receipt a{
	background: url(../images/bt_receipt.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
.row-fluid .menu_images .receipt a:hover{
	background: url(../images/bt_receipt_hover.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
	
.row-fluid .menu_images .payment a{
	background: url(../images/bt_payment.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
.row-fluid .menu_images .payment a:hover{
	background: url(../images/bt_payment_hover.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
		
.row-fluid .menu_images .pdf a{
	background: url(../images/bt_pdf.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
.row-fluid .menu_images .pdf a:hover{
	background: url(../images/bt_pdf_hover.png) no-repeat top left;
	float: right;
	width: 33px;
	height: 33px;
	}
			
	
		
.row-fluid .menu_images ul li{
	list-style: none;
	float: right;
	width: 38px;
	padding-left: 3px;
	margin-top:3px
	}
.border_bottom{border-bottom: #dbdbdb solid 1px;margin-bottom:20px;}
.form-horizontal .controls2 {
    margin-left: 196px;
}
.talbe_small{margin-left:180px;width:862px}
.title h4{
	color: #b72f33;
	font-weight: normal;
	margin: 0px !important;
	padding: 10px 0 10px 10px !important;
	}
.textarea_large{width:856px;}

.row_comment2 {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dedede;
    margin: 0 !important;
}
.margin_bt_link{margin: 5px -18px !important;}
.margin_bottom_require{margin-bottom:-18px;}
.text_require{font-style:italic;}
.width_input{width:88.1%;height:60px;}
.width_area{width:91.8%;height:60px;}
.width_area2{width:97.8%;height:60px;}
.width_area3{width:89.5%;height:60px;}
.width_combo{width:93.3%;}

.table_date{width: 90px;}
.show_hide{background:#f8eaea; color:#b72f33;float:right;width:100%;}
.show_hide_right{float:right;width:7%;cursor:pointer}
.bg_litle_pink{background:#faf4f4;margin-bottom:5px;border:1px #dedede solid;}
.text_check2{margin:-16px 20px;}

#imgProduct {
   display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}	
.border_img_2{border:1px solid #ccc;height:170px; width:170px;text-align: center;}
.border_img_3{border:1px solid #ccc;height:100px; width:708px;text-align: center;}

.label_checkbox{margin-top:-4px;}
.margin_bottom_form{margin-bottom:0 !important;}
.margin_footer{margin-bottom:10px;}
.border_bottom_red{border-bottom:#b72f33 1px solid;margin-bottom:20px}
.margin_checkbox{margin-top:-5px !important;}
.label_checkbox2{border: 0px !important; float: left; clear: both; margin-left: 20px;}
.unit_bg_content2 {
    background: none repeat scroll 0 0 #fff;
    
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

}

/* end news eprocument 2 */ 





.container-fluid .search2 {
	/*border-bottom: 5px solid #0181a4;*/
	padding: 0px 10px;
	text-align: center;
}

#footer2 {
	border-top: 3px solid #b72f33;
	background: #fff;
	height: 11%;
}

#footer2 p {
	color: #b72f33 !important;
	margin: 5px 0 10px;
}
.modal-header {
	background: #b72f33;
	border-radius: 6px 6px 0px 0px;
}
.modal-header h3{
	color: #fff;
}

/* start table */
.row-align {
	width: 100% !important;
	margin: 0 auto;
}

.title_table{
	background: #f8eaea;
	padding: 0px;
	margin: 0 auto;

	}
.title_table_document{
	background: #b72f33;
	padding: 0px;
	margin: 0 auto;
	height: 45px;
	}

.bg_round_table {
	background: #f8eaea !important;
	border: 1px solid #dedede;
}

.out-tbl th {
	background-color: #b72f33;
	color: #fff;
	text-align: center;
	}

.out-tbl2 th {
	background-color: #b72f33;
	color: #fff;
	text-align: center;
	border-radius: 1px !important;
}

.out-tbl2 {
	background: #fff
}
.out-tbl2 tbody tr:first-child td:first-child,.out-tbl2 tbody tr:first-child td:last-child, .out-tbl2 tbody tr:last-child td:first-child,.out-tbl2 tbody tr:last-child td:last-child
	{
	border-top-left-radius: 0px !important;
}
.out-tbl2 tbody tr th:first-child
	{
	border-left:1px solid #dedede !important;
}
/* end table */



/* end news eprocument */  

.menu_top {
	background: none repeat scroll 0 0 #b72f33;
	border-bottom: 1px solid #fff;
	height: 26px;
	width: 100%;
	position: absolute;
	z-index: 999;
}

.menu_top .nav-pills>.active>a,.nav-pills>.active>a:hover,.nav-pills>.active>a:focus
	{
	background: none;
	color: #ccffff;
}

.menu_top .nav-tabs .open .dropdown-toggle,.nav-pills .open .dropdown-toggle,.nav>li.dropdown.open.active>a:hover,.nav>li.dropdown.open.active>a:focus
	{
	background-color: #FFFFFF;
	border: none;
	color: #fff;
}

.menu_top .nav>li>a:hover,.nav>li>a:focus {
	text-decoration: none;
	/*background-color: #fff;*/
	font-size: 12px;
	color: #fff;
	background: none !important;
}

.menu_top .nav-pills>li>a {
	margin-bottom: 2px;
	margin-top: 2px;
	padding-bottom: 3px;
	padding-top: 3px;
	color: #efefef;
}

.menu_top .container-fluid .nav {
	padding: 2px 0 0 0;
	*padding: 0px 0 0 0;
	float: right;
	width: 100%;
}

.menu_top .container-fluid .nav li {
	float: right;
}

.menu_top .container-fluid .nav li .dropdown-menu li {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #cccccc;
	font-size: 11px;
	color: #0082A4;
}

.menu_top .container-fluid .nav li .dropdown-menu li a {
	color: #0082A4;
}

.menu_top .container-fluid .nav li .dropdown-menu li a:hover {
	color: #fff;
}

.menu_top .nav {
	margin: 0px;
	padding: 0px;
}

.caret2 {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
	content: "";
	display: inline-block;
	height: 0;
	vertical-align: top;
	width: 0;
}

.row-fluid .title_h2 h2 {
	color: #b72f33;
	float: left;
	font-weight: 100;
	margin: 0 !important;
	font-size: 24px;
	padding-left: 10px;
	}
.row-fluid .title_h2 h3 {
	font-weight: normal;
	color: #b72f33;
	float: left;
	}


.banner_top {
	background: #fff;
}

.content_tab1 {
	margin: 0px 20px;
	border: 1px solid #dedede;
	padding: 20px 0;
}

.margin-search {
	margin-bottom: 20px !important;
}

.title_top {
	background: none repeat scroll 0 0 #fff;
	border-bottom: 1px solid #b72f33;
	height: 3.3em;
	position: absolute;
	top: 87px;
	width: 100%;
	z-index: 888;
}

.fixed {
	position: fixed;
	top: 0;
}

.fixed1 {
	position: fixed;
	top: 26px;
}


.ebody {
	height: 100%;
	background: url(../images/login.jpg) center repeat #fff !important;
	position: relative;
	background-size: 100% 100%;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	overflow-y: hidden !important;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 30px;
}

.container-main {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#myslidemenu {
	
}

.p0 {
	padding: 0px;
}

.jqueryslidemenu {
	background: none;
}

.jqueryslidemenu ul li {
	border-bottom: 3px solid #414141;
	margin-bottom: 1px;
}

.jqueryslidemenu ul li.active,.jqueryslidemenu ul li:hover {
	border-bottom: 3px solid #98D32D;
	margin-bottom: 1px;
}

.main-content img {
	max-height: 100%;
	width: 100%;
}

.list_carousel {
	background-color: #ccc;
	margin: 0 auto;
	width: 1000px;
}

.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	background-color: #eee;
	border: 5px solid #999;
	width: 1000px;
	height: 100%;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}

.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}

.logo1 {
	margin: 50px 160px;
	width: 312px;
	position: absolute;
	top: 0;
}

.img_icon {
	margin: 0;
	position: absolute;
	bottom: 19%;
	left: 18%;
}

.login {
	background: url(../images/bg-login.png) repeat top;
	width: 300px;
	margin: 30px auto;
	padding: 15px 0px;
	border: 1px solid #ccc;
}

.wrap-login {
	width: 380px;
	position: absolute;
	left: 50%;
	margin: 10px 60px;
	bottom: 13%;
}

.wrap-login h2 {
	color: #b72f33;
	font-weight: 100px;
	font-size: 2em;
}

.wrap-login h3 {
	color: #000;
	font-size: 4em;
}

input[placeholder],[placeholder],*[placeholder] {
	color: black !important;
	opacity: 1.0;
	filter: alpha(opacity =   100);
	
}




.table-bordered th:last-child, .table-bordered td:last-child {
    border-right: 0px !important;
}

.unit_bg_content {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
    padding-top: 80px !important;
}

@charset "utf-8";
/* CSS Document */


/* Set the fixed height of the footer here */
#push,
#footer {
    height: 69px;
}

#footer {
	background: #037371;
	border-top: 1px solid #cc9900;
}
	
#footer p {
	padding-top: 15px;
	color: #efefef;
	}


@media (max-width: 480px) {
	h3 {
    font-size: 16px;
	}
}

{margin: 0; padding: 0;}

body {
    font-size: 12px !important;
}

#swap {
	min-height: 100%;
}

form {
	/*margin: 0px;*/
}

.text_color {
	color: #004875;
}
.icon-large{
	font-size: 40px !important;	
}
.row_color {
	background: #e5ccb2;
}
.icon-medium{
	font-size: 20px !important;	
}

.icon-small{
	font-size: 15px !important;	
}


/*
.menu_top {
	width: 100%;
	height: 26px;
	background: url(../images/bg_menu_top.jpg) repeat-x top left;
	border-bottom: 1px solid #0082a4;
}
.menu_top .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
	background: none;
    color: #ccffff;
	}
.menu_top .nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
	background-color: #FFFFFF;
    border: none;
    color: #0082a4;
	}
.menu_top .nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
  color: #037371;
}
.menu_top .nav-pills > li > a {
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #efefef;

}
.menu_top .container-fluid .nav {
	padding: 2px 0 0 0;
	*padding: 0px 0 0 0;
	float: right;
	width: 100%;
	}
.menu_top .container-fluid .nav li{
	float: right;
	}
.menu_top .container-fluid .nav li .dropdown-menu li{
	float: left;
	width: 100%;
	border-bottom: 1px dotted #cccccc;
	font-size:  11px;
	color: #0082A4;
	}
.menu_top .container-fluid .nav li .dropdown-menu li a{
	color: #0082A4;
	}
.menu_top .container-fluid .nav li .dropdown-menu li a:hover{
	color: #eeeeee;
	}
.menu_top .nav {
	margin: 0px;
	padding: 0px;
	}
*/	



	
	
.last_menu {
	margin-left: -80px;
	
}

.padding_top_5px {
	padding-top: 5px;
}
.pagination {
	margin: 0px !important;
	padding: 5px 0px;
}
.align_center {
	text-align: center;
}
.align_left {
	text-align: left;
}
.align_right {
	text-align: right;
}





/*start menu images*/
.row-fluid .menu_images ul {
	margin: 0px;
	padding: 0px;
	}

.row-fluid .title .menu_images .newFolder a{
	background: url(../images/bt_add_folder.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 45px;
	margin-top: -12px;
	margin-right: 10px;
	}
.row-fluid  .title .menu_images .newFolder a:hover{
	background: url(../images/bt_add_folder_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 45px;
	text-transform: none;
	margin-top: -12px;
	margin-right: 10px;
	}
	
.row-fluid .title .menu_images .editFolder a{
	background: url(../images/bt_edit_folder.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 45px;
	margin-top: -12px;
	}
.row-fluid  .title .menu_images .editFolder a:hover{
	background: url(../images/bt_edit_folder_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 45px;
	text-transform: none;
	margin-top: -12px;
	}	

.row-fluid .menu_images .new a{
	background: url(../images/bt_new.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .new a:hover{
	background: url(../images/bt_new_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	text-transform: none;
	}

.row-fluid .menu_images .new_1 a{
	background: url(../images/bt_new_1.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .new_1 a:hover{
	background: url(../images/bt_new_1_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	text-transform: none;
	}

.row-fluid .menu_images .print a{
	background: url(../images/bt_print.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	cursor: pointer;
	}
.row-fluid .menu_images .print a:hover{
	background: url(../images/bt_print_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	text-transform: none;
	}
	
.row-fluid .menu_images .new .new_text {
	margin: 35px 0 0 22px; float: left;
	}


.row-fluid .menu_images .edit a{
	background: url(../images/bt_edit.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .edit a:hover{
	background: url(../images/bt_edit_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .edit .edit_text {
	margin: 35px 0 0 22px; float: left;
	}
	
.row-fluid .menu_images .delete a{
	background: url(../images/bt_delete.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .delete a:hover{
	background: url(../images/bt_delete_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .delete .delete_text {
	margin: 35px 0 0 17px; float: left;
	}
	
.row-fluid .menu_images .import a{
	background: url(../images/bt_import.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .import a:hover{
	background: url(../images/bt_import_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .export_excel a{
	background: url(../images/bt_export_excel.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .export_excel a:hover{
	background: url(../images/bt_export_excel_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .export a{
	background: url(../images/bt_export.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .export a:hover{
	background: url(../images/bt_export_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .convert a{
	background: url(../images/bt_convert.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}
.row-fluid .menu_images .convert a:hover{
	background: url(../images/bt_convert_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 37px;
	}	
.row-fluid .menu_images .import .import_text {
	margin: 35px 0 0 17px; float: left;
	}
.row-fluid .menu_images .adjust a{
	background: url(../images/bt_adjust.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}
.row-fluid .menu_images .adjust a:hover{
	background: url(../images/bt_adjust_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}
.row-fluid .menu_images .adjust .adjust_text {
	margin: 35px 0 0 17px; float: left;
	}
	
		
.row-fluid .menu_images .lock a{
	background: url(../images/bt_lock.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}
.row-fluid .menu_images .lock a:hover{
	background: url(../images/bt_lock_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}
	
.row-fluid .menu_images .split a{
	background: url(../images/bt_split.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}
.row-fluid .menu_images .split a:hover{
	background: url(../images/bt_split_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}
.row-fluid .menu_images .confirm a{
	background: url(../images/bt_confirm.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}
.row-fluid .menu_images .confirm a:hover{
	background: url(../images/bt_confirm_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}	
	
.row-fluid .menu_images .lock .adjust_text {
	margin: 35px 0 0 21px; float: left;
	}
	
.row-fluid .menu_images .unlock a{
	background: url(../images/bt_unlock.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}
.row-fluid .menu_images .unlock a:hover{
	background: url(../images/bt_unlock_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}
.row-fluid .menu_images .unlock .adjust_text {
	margin: 35px 0 0 21px; float: left;
	}
	
.row-fluid .menu_images .close1 a{
	background: url(../images/bt_close.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}
.row-fluid .menu_images .close1 a:hover{
	background: url(../images/bt_close_hover.png) no-repeat top left;
	float: right;
	width: 38px;
	height: 31px;
	}	
.row-fluid .menu_images .close1 .adjust_text {
	margin: 35px 0 0 17px; float: left;
	}	
	

.row-fluid .menu_images .back .back_text {
	margin: 35px 0 0 17px; float: left;
	}
/*and menu images*/	
.form-horizontal .input-area{
	padding: 10px 0px 0px 0px;
}
.container-fluid .search {
	text-align: center;
	padding: 30px 0 20px 0;
	}
.title h3 {
	color: #b72f33;
	font-size: 18px;
	font-weight: 100;
	margin: 0 !important;
	padding: 0 10px !important;
	text-align: left;
}

.title_1 h3{
	color: #fff;
	font-weight: normal;
	margin: 0px !important;
	padding: 0 0 0 10px !important;
	}

.title {
	float: left;
	padding: 0px;
	}



.colortd {
	background-color: #c9d2da;
	}

.btn-removeTeam {	
	background: url(../images/bt_c_2.png) no-repeat top left;
	width: 30px !important;
	height: 17px;
}
.btn-addTeam {	
	background: url(../images/bt_c_1.png) no-repeat top left;
	width: 30px !important;
	height: 17px;
}
.btn-removeTeam:hover,.btn-removeTeam:focus,.btn-removeTeam:active,.btn-removeTeam.active,.btn-removeTeam.disabled,.btn-removeTeam[disabled]
	{
	background: url(../images/bt_c_2_hover_click.png) no-repeat top left;
	width: 30px;
	height: 17px;
}
.btn-addTeam:hover,.btn-addTeam:focus,.btn-addTeam:active,.btn-addTeam.active,.btn-addTeam.disabled,.btn-addTeam[disabled]
	{
	background: url(../images/bt_c_1_hover_click.png) no-repeat top left;
	width: 30px;
	height: 17px;
}


.bms-icon-view {
	background: url(../images/icon_view.png) no-repeat;
	width:22px;
	height:22px;
	display: inline-block;
    line-height: 22px;
    vertical-align: text-top;
    cursor: pointer;
}
.bms-icon-edit {
	background: url(../images/icon_edit.png) no-repeat;
	width:22px;
	height:22px;
	display: inline-block;
    line-height: 22px;
    vertical-align: text-top;
    cursor: pointer;
}
.bms-icon-add {
	background: url(../images/icon_add.png) no-repeat;
	width:22px;
	height:22px;
	display: inline-block;
    line-height: 22px;
    vertical-align: text-top;
    cursor: pointer;
}
.bms-icon-export_sm {
	background: url(../images/icon_export_sm.png) no-repeat;
	width:22px;
	height:22px;
	display: inline-block;
    line-height: 22px;
    vertical-align: text-top;
    cursor: pointer;
}
.bms-icon-history_sm {
	background: url(../images/icon_history_sm.png) no-repeat;
	width:22px;
	height:22px;
	display: inline-block;
    line-height: 22px;
    vertical-align: text-top;
    cursor: pointer;
}

.bms-icon-receipt_sm {
	background: url(../images/icon_receipt_sm.png) no-repeat;
	width:22px;
	height:22px;
	display: inline-block;
    line-height: 22px;
    vertical-align: text-top;
    cursor: pointer;
}
.bms-icon-payment_sm {
	background: url(../images/icon_payment_sm.png) no-repeat;
	width:22px;
	height:22px;
	display: inline-block;
    line-height: 22px;
    vertical-align: text-top;
    cursor: pointer;
}
.bms-icon-delete {
	background: url(../images/icon_delete.png) no-repeat;
	width:22px;
	height:22px;
	display: inline-block;
    line-height: 22px;
    vertical-align: text-top;
    cursor: pointer;
}
.bms-icon-accordion-up {
	background: url(../images/icon_up.png) no-repeat;
	width:30px;
	height:30px;
	display: inline-block;
    line-height: 30px;
    vertical-align: text-top;
}
.bms-icon-accordion-down {
	background: url(../images/icon_down.png) no-repeat;
	width:30px;
	height:30px;
	display: inline-block;
    line-height: 30px;
    vertical-align: text-top;
}
.required{
	color: red;
}
.table-actions {
	width: 80px;
	text-align: left;
}
.text-align-center-middle{
	text-align: center !important;
	vertical-align: middle !important;
}
.text_right{
	text-align: right !important;
}
.text_center{
	text-align: center !important;
}
.text_left{
	text-align: left !important;
}
.tbl_checkbox{
	width:20px;
}
.w50_stt {
	width: 30px;
	text-align: center;
}
.accordion {
	margin: 0px auto;
	border-style: none !important;
}

.text-center {
	background: url(../images/bg_button.png) repeat top left;
	padding: 10px 0px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.paging-active{
	font-weight: bold;
}

.pointer{
	cursor: pointer;
}
.error{
	color: red;
}
.hr_withtext{
	border-color: #0181A4;
    border-width: 1px 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 95%; /* must override with text */
    margin-left: 5px;
}

.form-horizontal .control-group {
	margin-bottom: 10px !important;
	
}
.cust-text-right {
	text-align: right !important;
}

.combo .combo-text {
	background: #fff;
}


.nav {
	margin: 0px !important;
}

.add_table {
	padding: 5px 0px; 
	color: #CC9900;
}

.add_icon{
	color: #0181A4;
	font-weight: bold;
}
.delete_icon{
	color: #cc9900;
	font-weight: bold;
}
hr {
	margin: 5px !important;
}

/* fix carousel-indicators middle */
.carousel-indicators.middle {
    left: 0;
    right: 0;
    top: auto;
    bottom: 15px;
    text-align: center;
}

.carousel-indicators.middle li {
    float: none;
    display: inline-block;
}

.cm_border_r {
	border-right: 1px solid #ccc;
	font-weight: bold;
}
.bg_approve {
	background: #f9f9f9;
	padding: 0px 0 0 15px !important;
	margin: 2px !important;
	border-left: 1px solid #ccc;
}
h3 {
	color: #0181A4;
}
legend {
	color: #0181A4;
}

.middle li {
	background: #0181A4;
}
.middle .active {
	background: #f60;
}
.middle {
	padding: 20px 0 0 0;
}
.carousel-inner .item {
	line-height: 22px;
}
.unlink a {
	text-decoration: none !important;
}
.budgetalocation {
	background: #f2f2f2;
	padding: 10px 10px 10px 20px;
	line-height: 1;
}
.budgetalocation .control-group {
	margin-bottom: 0px !important;
}
	.login_bg {
		background: url(../images/bglogin_form.png) center repeat;
	    height: 330px;
	    overflow: hidden;
	    padding: 10px 20px;
	    text-align: center;
	    width: 320px;
	    border: 5px solid #efefef;
	    margin-top: 53px;
	    
    }
.login_bg h2 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 23px;
	color: #a93f03;
	line-height: 1.2;
	margin-bottom: 50px;
}
    .form-signin {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 solid #e5e5e5;
    margin: 0 auto 20px;
    padding: 10px 0 0;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
color: #06C;
    }
    .form-signin input[type="text"],
    .form-signin input[type="password"] {
      font-size: 16px;
      height: auto;
      margin-bottom: 15px;
      padding: 7px 9px;
    }
    
.collapse {
	position: inherit !important;
}
.login_bg .btn-warning {
	width: 100%;
}
i.icon-red {
            color: #cc6633;
            padding-right: 3px;
}
i.icon-blue {
            color: #3399cc;
            padding-right: 3px;
}

	.line_bg {
      background: url(../images/line_bg) center repeat-x;
	  height: 30px;
    }


.combo {
	height: 28px !important;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 208px !important;
}

.total {
	padding: 0px 15px;
	border-radius: 10px;
}

label.checkbox {
	padding-left: 0px !important;
}

.input-small1 {
	width: 80px !important;
}
.padding-0 {
	padding: 5px 1px !important;
	margin: 0px !important;
}

.line_year {
	background: url(../images/bg_line_year.png) repeat-x bottom left;
	height: 30px;
}

.line_year_total {
	background: #ecfbff;
	height: 30px;
}
.report-all-tbl td {
	font-size: 11px;
	padding: 5px !important;
}
.report-all-tbl tfoot th{
	font-size: 11px;
	padding: 5px !important;
}
.controls > .open {	
	position: absolute;
}
.multiselect-container label.checkbox {
	padding-left: 5px !important;
}
.controls label {
	border-bottom: 1px dotted #ccc;
	color: #8b832f;
}
#scrollable-dropdown-menu .typeahead {
max-height: 200px;
overflow-y: auto;
z-index: 9999999;
}
.payment_menu{
	height: 15px;
}
.payment_menu ul li {
	float: right;
	width: 150px;
}
.payment_menu ul{
	color: #336699;
}

.modal-footer .btn .caret {
    margin-bottom: 8px;
    margin-left: 0;
    margin-top: 8px;
}
.unit_bg_group {
	background: #009899;
	float: left;
	width: 100%;
	padding:  10px 0px;
}

.unit_bg_group label{
	color: #fff;
}


.table_w{
	overflow-x: auto;
}
.table_w table{
	width: 120%;
}

.epro_icon{
	cursor: pointer;
}
.accordion-heading {
	  border-bottom: 1px solid #e5e5e5;
}
.modal-open .panel {
	z-index: 99999 !important;
}




/* dashboard */
.db_top_round{margin:0 auto;text-align:center;border-bottom: 2px dotted #ccc; padding-bottom:10px;}
.db_round{width:32.7%;float:left;margin:0 3px;}

.db_y1{background:#cd9933;}
.db_y2{background:url(../images/db_y.png) no-repeat  10% center #d1a449;height:100px;}
.db_g1{background:#73ab3e;}
.db_g2{background:url(../images/db_g.png) no-repeat  10% center #81b553;height:100px;}
.db_b1{background:#6bbee8;}
.db_b2{background:url(../images/db_b.png) no-repeat  10% center #7ac4eb;height:100px;}

.db_y1, .db_g1, .db_b1{font-size:30px;padding:15px 0;color:#fff;height:20px;}
.text_y, .text_g, .text_b{color:#fff;font-size:20px;margin:20px 15px;text-align: right;float:right;width:60%;}

.total_number{background: #87ae5f;height:60px;text-align: center;}
.total_number2{background: #cd6f70;height:60px;text-align: center;}
.margin_top_2{margin-top:10px;}
.margin_top_3{margin-top:5px;}
.percent_number{   color: #fff;
    float: left;
    font-size: 36px;
    margin-top: 20px;
    width: 94%;}
.summary_db{background:#518b1a;color:#fff;height:210px;}
.summary_db2{background:#b72f33;color:#fff;height:210px;}
.summary_db ul,.summary_db2 ul{ list-style:disc; height: 170px; overflow: auto;margin: 0 10px 10px !important;}
.summary_db ul li, .summary_db2 ul li{margin:15px 0 !important; display: block;}
.db_round_2{width:66%;float:left; margin:0 3px; height:278px; border-bottom:dotted 2px #ccc;text-align:center;}
.db_round_2 span {color:#b72f33 !important;font-size:20px;}
.db_round_2 .noData {width: 150px; height: 150px;}

.pre {
    border-bottom:1px dotted #ccc;height:15px;
}
.pie{margin:20px 120px;}
.pie ul li {display: list-item;}
.db_more{float:right;margin-right:10px;margin-top:5px;}
.db_more a{color:#fff !important;}
.line_bot{height:4px;background: #b72f33;margin-top:10px;}


.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #b72f33;
 
  background-repeat: repeat-x;
 
}

.controls2 label {
    border-bottom: 1px dotted #ccc;
    
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #b72f33;
 
}

.controls ul li label:hover {color:#fff;}
.controls .ms-drop ul li label:hover {color:#333;}

.btn-width {
	width: 60px;
}

.total_tlabel{font-weight:bold;color:#8b832f;}
.total_nlabel{font-weight:bold; color:red;}

.totalamount_style label {
	font-weight: bold;
}

.totalamount_style input {
	font-weight: bold;
	color: #b72f33;
}
.comHtryWo{
	border:0px;
}
.comHtryWo .controls{
	margin-left: 0px;
}
.comHtryWo .avatar_comment{
	margin-top: 20px;
}
.comHtryWo .title h3{
	float: left;
}
.comHtryWo .accordion-toggle{
	float: right;
}

.comHtryWo .accordion-heading{
	border-bottom:0px;
}

.comHtryWo .accordion-inner2{
	border-top:0px;
}
.comHtryWo .accordion-group{
	border: 1px solid #dedede;	
}
.comHtryWo .content_cm{

	border-bottom: 0px;
}
.leftImg{
	background:#F5E5E5;
	text-align: right;
	padding: 10px 10px;
	border-bottom: 1px solid #E7DADC;
}
.leftImg img{
	position:static !important;
	height: 50px;
}
.rightCm{
	border-bottom: 1px dotted #ccc;
	padding-left: 15px;
}
.tableComment{
	margin: auto;	
}
.content_approval{width:100%; overflow: auto;}
.height_table,.content,#height_table,#height_table2,#height_table3,.demo-x,.demo-y,.demo-yx
	{max-height:450px;max-width:1048px;overflow:auto;}
#height_table_600 {max-height:550px;max-width:1048px;overflow:auto;}

