<HTML>
<BODY>
Dear $approver.fullName,<br/><br/>
	Having feedback from your customers need to consider.<br/>
	Please click link to view: <a href="$URL">$URL</a>
	<br/>
	<br/>
Thanks & best regards
<br/>
[CARD_VCCB]
<br/>
<br/>             
Note: Please don't reply this email.
</BODY>
</HTML>

